@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Lato-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Lato-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/Lato-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Maven-Pro-Regular.woff2') format('woff2');
}
